
<div class="container mt-5">
    <form action="" class="form-add-place">
        <div class="mb-3">
            <label for="titulo" class="form-label"><b>Titulo*</b></label>
            <input type="text" id="titulo" class="form-control" placeholder="Ingrese el nombre del lugar"
             [(ngModel)]="titulo"  [ngModelOptions]="{standalone: true}">
        </div>
        <div class="mb-3">
            <label for="imagen" class="form-label"><b>URL Imagen*</b></label>
            <input type="text" class="form-control" id="imagen" placeholder="URL de la imagen del lugar" 
             [(ngModel)]="url_imagen"  [ngModelOptions]="{standalone: true}">
        </div>
       
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea class="form-control" rows="3" [(ngModel)]="descripcion"  [ngModelOptions]="{standalone: true}"></textarea>
        </div>

        <div class="mb-3">
            <label for=""><b>Categorías*</b></label>

            @for (categoria of categorias; track $index) {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="{{categoria | lowercase}}"
                    [(ngModel)]="datos_categoria[$index]"  [ngModelOptions]="{standalone: true}">
                    <label class="form-check-label" for="{{categoria | lowercase}}">
                      {{categoria}}
                    </label>
                </div>
            }
    
        </div>

      
        <div class="mb-3 botones">
                <button class="btn btn-primary me-2" id="btn-agregar" (click)="agregarLugar()">Agregar</button>
                <a class="btn btn-danger" routerLink="/">Cancelar</a>
        </div>
    </form>
</div>